# build files (makefile can/should be generated each time)
*~
/Makefile
/BUILD/

# libraries (everything except the zip archives)
/mbed-libs/*
!/mbed-libs/*.zip

# sublime-text
*.sublime-workspace

# Python
__pycache__/
*.pyc
.pydevproject

# OS X Finder prefs
.DS_Store

# Qt Creator
*.creator.user

# IntelliJ
.idea

